<!-- start: lastest-work -->
<div class="section-wrapper lastest-work">
  <div class="container">
    <div class="row">
      <div class="span12">
        <div class="separator">
          <div class="left">
            <div class="lines">
              <div>
              <h2 class="lines-title">Featured People</h2>
              </div>
            </div>
          </div>
        </div>  
      </div>

      <div class="span3">
        <%= link_to "#" do %>
          <div class="white-content">
            <div class="img-mask hover-mask">
              <%= image_tag("users/user-1.png") %>
              <span class="hover-fade"></span>
            </div>
            <h5>Andrew Linfoot<span class="white-title"><i class="icon-plus"></i></span></h5>
            <h5>Industrial Engineering | 2014<span class="white-title"></span></h5>
            <p>This is a sample profile. Lorem ipsum patornus septum excelsior.</p>
          </div>
        <% end %>
      </div>

      <div class="span3">
        <%= link_to "#" do %>
          <div class="white-content">
            <div class="img-mask hover-mask">
              <%= image_tag("users/user-2.png") %>
              <span class="hover-fade"></span>          
            </div>
            <h5>Andrew Linfoot<span class="white-title"><i class="icon-plus"></i></span></h5>
            <h5>Industrial Engineering | 2014<span class="white-title"></span></h5>
            <p>This is a sample profile. Lorem ipsum patornus septum excelsior.</p>
          </div>
        <% end %>
      </div>

      <div class="span3">
        <%= link_to "#" do %>
          <div class="white-content">
            <div class="img-mask hover-mask">
              <%= image_tag("users/user-3.png") %>
              <span class="hover-fade"></span>          
            </div>
            <h5>Andrew Linfoot<span class="white-title"><i class="icon-plus"></i></span></h5>
            <h5>Industrial Engineering | 2014<span class="white-title"></span></h5>
            <p>This is a sample profile. Lorem ipsum patornus septum excelsior.</p>
          </div>
        <% end %>
      </div>

      <div class="span3">
        <%= link_to "#" do %>
          <div class="white-content">
            <div class="img-mask hover-mask">
              <%= image_tag("users/user-4.png") %>
              <span class="hover-fade"></span>          
            </div>
            <h5>Andrew Linfoot<span class="white-title"><i class="icon-plus"></i></span></h5>
            <h5>Industrial Engineering | 2014<span class="white-title"></span></h5>
            <p>This is a sample profile. Lorem ipsum patornus septum excelsior.</p>
          </div>
        <% end %>
      </div>

    </div>
  </div>
</div><!-- end: lastest-work -->
{{> loginModal}}