<!-- start: lastest-work -->
<div class="section-wrapper lastest-work">
  <div class="container">
    <div class="row">
      <div class="span12">
        <div class="separator">
          <div class="left">
            <div class="lines">
              <div>
              <h2 class="lines-title">Featured Projects</h2>
              </div>
            </div>
          </div>
        </div>  
      </div>

      <div class="span3">
        <a href="/projects/1">
          <div class="white-content">
            <div class="img-mask hover-mask">
              <%= image_tag("projects/app-1.png") %>
              <span class="hover-fade"></span>          
            </div>
            <h5>Project Name<span class="white-title"><i class="icon-plus"></i></span></h5>
            <p>
              This is the description of a sample project. Lorem ipsum factor ipsulum locutor posterior factus patellum.
            </p>
          </div>
        </a>
      </div>

      <div class="span3">
        <a href="#">
          <div class="white-content">
            <div class="img-mask hover-mask">
              <%= image_tag("projects/app-2.png") %>
              <span class="hover-fade"></span>          
            </div>
            <h5>Project Name<span class="white-title"><i class="icon-plus"></i></span></h5>
            <p>
              This is the description of a sample project. Lorem ipsum factor ipsulum locutor posterior factus patellum.
            </p>
          </div>
        </a>
      </div>

      <div class="span3">
        <a href="/projects/3">
          <div class="white-content">
            <div class="img-mask hover-mask">
              <%= image_tag("projects/app-3.png") %>
              <span class="hover-fade"></span>          
            </div>
            <h5>Project Name<span class="white-title"><i class="icon-plus"></i></span></h5>
            <p>
              This is the description of a sample project. Lorem ipsum factor ipsulum locutor posterior factus patellum.
            </p>
          </div>
        </a>
      </div>

      <div class="span3">
        <a href="/projects/4">
          <div class="white-content">
            <div class="img-mask hover-mask">
              <%= image_tag("projects/app-4.png") %>
              <span class="hover-fade"></span>          
            </div>
            <h5>Project Name<span class="white-title"><i class="icon-plus"></i></span></h5>
            <p>
              This is the description of a sample project. Lorem ipsum factor ipsulum locutor posterior factus patellum.
            </p>
          </div>
        </a>
      </div>

    </div>
  </div>
</div><!-- end: lastest-work -->
<%= render 'modal' %>